body {
    background-image: url(imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff!important;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 300%;
}

.reveal {
    display: none;
}

.batman {
    max-width: 400px;
    min-width: 400px;
}

.resetBtn,
.what {
    background: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: #fff;
}

.resetBtn:hover,
.what:hover {
    background: #fff;
    color: #333;
}

.answer h2 {
    font-size: 3rem;
}


/* fonts below */

.bungee {
    font-family: 'Bungee', cursive;
}

.dancingscript {
    font-family: 'Dancing Script', cursive;
}

.dokdo {
    font-family: 'Dokdo', cursive;
}

.unlock {
    font-family: 'Unlock', cursive;
}

.marker {
    font-family: 'Permanent Marker', cursive;
}


/* fonts end */